h1 {
    font-size: 50px;
    color: violet;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
}

p {
    font-size: 20px;
    text-align: center;
    word-spacing: 5px;
    
}

a { text-decoration: none;}